{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pinocchio's</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700,900&display=swap" rel="stylesheet">
  <!--Icons-->
  <script src="https://kit.fontawesome.com/d448299394.js"></script>
  <!--Styles-->
  <link rel="stylesheet" type="text/css" href="{% static './css/styles.css' %}">
</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-expand-lg fixed-top navigation-nav">
    <div class="container nav-content">
      {% if user.is_authenticated %}
      <!-- user login -->
      <a class="navbar-brand" href="#">{{ user.username }} </a>
      {% else %}
      <a class="navbar-brand" href="#">Pinocchio's</a>
      {% endif %}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> <i class="fas fa-bars"></i> </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
        <article class="navbar-nav">
          <a href="{% url 'homepage' %}" class="nav-item nav-link">Home</a>
          <a href="{% url 'menu' %}" class="nav-item nav-link">Menu</a>
          {% if user.is_authenticated %}
          <a href="{% url 'order_view' %}" class="nav-item nav-link">Orders</a>
          <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
          <a href="{% url 'cart_view' %}" class="nav-item nav-link cart-item"><i class="fas fa-shopping-cart"></i></a>
          {% else %}
          <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
          {% endif %}

        </article>
      </div>
    </div>
  </nav>
  {% endblock navbar %}

  <!--JS for bootstrap-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  {% block content %} {% endblock content %}
  {% block js %} {% endblock js %}
</body>

</html>